/*
* @Author: lenovo
* @Date:   2017-12-06 18:34:19
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-14 11:23:51
*/
@import url("base.css");
body{
	background: #F5F5F5;
	height: auto;
}
.TB{
	width: 7.5rem;
	height: 2.56rem;
	background-image: linear-gradient(#00a9ff,#0086ff)
}
.TB1{
	width: 6.9rem;
	height: 1.16rem;
	/* background: red; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.Tb1{
	width: 2.6rem;
	height: 1.16rem;
/* 	background: yellowgreen; */
}
.tb1{
	width: 2.6rem;
	height: 0.43rem;
	/* background: pink; */
	margin-top: 0.44rem;
}
.dw{
	width: 0.45rem;
	height: 0.43rem;
	/* background: red; */
	float: left;
}
.dw img{
	display: block;
	width: 100%;
}
.dwz{
	width: 2.15rem;
	height: 0.43rem;
	/* background: blue; */
	float: left;
	font-size: 0.34rem;
	color: white;
}
.Tb2{
/* 	display: block; */
	width: 1.21rem;
	height: 1.16rem;
	/* background: yellow; */

}
.tb2{
	width: 0.54rem;
	height: 0.56rem;
	/* background: pink; */
	margin-top: 0.37rem;
	float: left;
}
.tb21{
	width: 0.54rem;
	height: 50%;
	/* background: black; */
	font-size: 0.19rem;
	color: white;
	text-align: right;
}
.tb22{
	width: 0.54rem;
	height: 50%;
	/* background: blue; */
	font-size: 0.19rem;
	color: white;
	text-align: right;
}
.tb3{
	width: 0.48rem;
	height: 0.56rem;
	/* background: yellowgreen; */
	float: left;

    margin-top: 0.37rem;
   /*  margin-right: 0.04rem; */
    margin-left: 0.15rem;
}
.tb3 img{
	display: block;
	width: 100%;
}
.TB2{
	width: 6.9rem;
	height: 0.72rem;
	background: white;
	margin: 0 auto;
}
.box{
	width: 2.78rem;
	height: 0.72rem;
	/* background: black; */
	margin: 0 auto;
}
.box1{
	width: 0.28rem;
	height: 0.28rem;
	/* background: pink; */
	margin-top: 0.22rem;
	float: left;
}
.box1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.box2{
	width: 2.5rem;
	height: 0.28rem;
	/* background: red; */
	float: left;
	margin-top: 0.22rem;
	font-size: 0.25rem;
	color: #abaaab;
	text-align: center;
	line-height: 0.28rem;
}
.TB3{
	width: 6.9rem;
	height: 0.68rem;
/* 	background: blue; */
	margin: 0 auto;
}
.TB3 ul{
	width: 6.9rem;
	height: 0.68rem;
/* 	background: blue; */
	display: flex;
    justify-content: space-between;
}
.TB3 ul li{
	font-size: 0.21rem;
	color: white;
	line-height: 0.68rem;
}
/* 头部结束 */
.MSL{
	width: 100%;
	height: 3.84rem;
	background: white;
	overflow: hidden;
}
.msl1{
	width: 6.86rem;
	height: 3.1rem;
	background: white;
	margin: 0 auto;
	margin-top: 0.31rem;
	display: flex;
	flex-wrap: wrap;

}
.msl1 a{
	display: block;
	width: 25%;
	height: 50%;
	/* background: pink; */
}
.tu{
	width: 0.66rem;
	height: 0.7rem;
	/* background: blue; */
	margin: 0 auto;
}
.tu img{
	display: block;
	width: 100%;
	height: 100%;
}
.zi{
	width:1.05rem;
	height: 0.6rem;
	margin: 0 auto;
	/* background: yellowgreen; */
	font-size: 0.21rem;
	color: black;
	text-align: center;
	line-height: 0.6rem;
}
.GD{
	width: 0.82rem;
	height: 0.25rem;
	/* background: red; */
	margin-left: 3.38rem;
}
.gd{
	width: 0.2rem;
	height: 0.04rem;
	background: #AAA9AA;
	float: left;
	margin-top: 0.1rem;
	margin: 0 auto;
	
}
.gd1{
	width: 0.2rem;
	height: 0.04rem;
	background: #AAA9AA;
	/* float: left; */
	margin-top: 0.1rem;
	margin: 0 auto;
	
}
.XC{
	width: 7.1rem;
	height: 1.78rem;
	background: red;
	margin: 0 auto;
}
.XC img{
	width: 100%;
}
.TJ{
	width: 7.1rem;
	height: 0.72rem;
/* 	background: black; */
	margin: 0 auto;
	margin-top: 0.15rem;
}
.TJ h2{
	font-size: 0.31rem;
	color: black;
	line-height: 0.72rem;
}
.CP{
	width: 7.1rem;
	height: 2.76rem;
	background: white;
	margin: 0 auto;
	box-sizing: border-box;
	border-bottom: 0.01rem solid #EAEAEA;
}
.CP1{
	width: 7.1rem;
	height: 2.76rem;
	background: white;
	margin-bottom: 0.2rem;
	margin: 0 auto;
	box-sizing: border-box;
	border-bottom: 0.01rem solid #EAEAEA;
	margin-bottom: 0.28rem;
}
.CPT{
	width: 1.3rem;
	height: 2.76rem;
	/* background: pink; */
	float: left;
}
.cpt{
	width: 100%;
	height: 1.3rem;
/* 	background: blue; */
	margin-top: 0.28rem;
}
.cp .cpn:last-child{
	margin-bottom: 0.28rem;
}
.cpt img{
	width: 100%;
}
.cpn{
	width: 5.8rem;
	height: 2.76rem;
	/* background: black; */
	float: right;
	overflow: hidden;
}
.cps{
	width: 5.63rem;
	height: 1.72rem;
/* 	background: red; */
	margin-left: 0.17rem;
	
	
	/* margin-top: 0.28rem; */
}
.s1{
	display: block;
	width: 2.79rem;
	height: 1.72rem;
	/* background: yellowgreen; */
	box-sizing: border-box;
	padding-top: 0.28rem;
	float: left;
	color: black;
/* 	line-height: 1.72rem; */
}
.s1 h2{
	font-size: 0.3rem;

}
.s1 h5{
	font-weight: normal;
	font-size: 0.19rem;
	font-weight: normal;
	
}
.cps1{
	width: 2.84rem;
	height: 0.5rem;
	/* background: pink; */
	float: right;
	margin-top: 0.95rem;
}
.cps1 h6{
	font-size: 0.1rem;
	text-align: right;
	line-height: 0.5rem;
}
.cpx{
	width: 5.63rem;
	height: 1.04rem;
	/* background: blue; */
	margin-left: 0.17rem;
	
}
.cpx1{
	width: 100%;
	height: 50%;
	/* background: red; */
	overflow: hidden;
}
.lg{
	width: 0.27rem;
	height: 0.27rem;
	background: pink;
	float: left;
	margin-top: 0.16rem;
	font-size: 0.1rem;
	line-height: 0.27rem;
}
.nr1{
	width: 2.56rem;
	height: 0.26rem;
	/* background: white; */
	font-size: 0.1rem;
	float: left;
	margin-top: 0.16rem;
	line-height: 0.26rem;
}
.BT{
	width: 100%;
	height: 1.32rem;
	background: white;
	box-sizing: border-box;
	border-top: 0.02rem solid #f5f5f5;
	border-bottom: 0.02rem solid #f5f5f5;
	margin-top: 1.32rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
}
.bt{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 1.32rem;
	/* background: blue; */
}
.bt li{
	width: 25%;
	height: 100%;
	/* background: red; */
	float: left;
}
.bt1{
	width: 0.72rem;
	height: 1.08rem;
	/* background: yellowgreen; */
	margin-left: 0.44rem;
	overflow: hidden;
}
.bt1t{
	width: 0.52rem;
	height: 0.52rem;
	/* background: white; */
	margin: 0 auto;
	margin-top: 0.18rem;
}
.bt1t img{
	display: block;
	width: 100%;
	height: 100%;
}
.bt1z{
	width: 0.71rem;
	height: 0.23rem;
	/* background: blue; */
	margin-top: 0.16rem;
	font-size: 0.21rem;
	color:#7B7B7B;
	text-align: center;
	line-height: 0.23rem;
}
.bt1z1{
	color: #008EFF;
}